@font-face {
  font-family: "DMSans";
  src: url("font/DMSans-Regular.ttf");
}
@font-face {
  font-family: "DMSans-Bold";
  src: url("font/DMSans-Bold.ttf");
}
#contact_modal {
  display: none;
  position: fixed;
  top: 20px;
  left: 25%;
  width: 1200px;
  justify-self: center;
}

html {
  width: 100%;
  font-family: "DMSans";
}

#header {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 100px;
}
#header img {
  width: 200px;
  height: 50px;
}

main {
  display: flex;
  flex-direction: column;
}
main label {
  font-family: "DMSans";
  margin-left: 100px;
}
main select {
  width: 10%;
  background-color: #911C1C;
  color: #FFFFFF;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-family: "DMSans-Bold";
  font-size: 18px;
  margin-left: 100px;
  margin-bottom: 50px;
}

#Photos {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
  width: 90%;
  justify-content: space-between;
}
#Photos .photo-container {
  width: 30%;
  cursor: pointer;
}
#Photos .photo-container p {
  color: #911C1C;
  font-size: 24px;
}
#Photos .photo-container p i {
  color: #911C1C;
}
#Photos img, #Photos video {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.photo-info {
  display: flex;
  justify-content: space-between;
}
.photo-info div {
  display: flex;
}
.photo-info div p {
  padding-left: 10px;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
.photograph-header img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  -moz-border-radius: 400px;
  -webkit-border-radius: 400px;
  border-radius: 400px;
}
.photograph-header #photograph-photo {
  order: 3;
}
.photograph-header #photograph-info {
  order: -1;
}
.photograph-header #photograph-info h1 {
  font-size: 64px;
  color: #D3573C;
}
.photograph-header #photograph-info h2 {
  font-size: 24px;
  color: #901C1C;
}
.photograph-header #photograph-info p {
  font-size: 18px;
  color: #525252;
}

#contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  z-index: 10;
}
.modal header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal header h2 {
  width: 70%;
  text-align: justify;
  font-size: 55px;
  font-weight: normal;
  align-self: flex-start;
  margin-top: 0;
}
.modal header img {
  align-self: flex-start;
}
.modal p {
  color: #312E2E;
  font-size: 24px;
}

.modal header img, .btn-sumbit {
  cursor: pointer;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

#modal-input {
  width: 100%;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#btn-submit {
  width: 30%;
  height: 68px;
  border: none;
  border-radius: 5px;
  align-self: flex-start;
  background-color: #901C1C;
  color: #FFFFFF;
  font-size: 18px;
}

#message {
  height: 150px;
  display: flex;
  align-items: flex-start;
  resize: none;
}

#lightbox__next, #lightbox__prev {
  background: url(arrow.svg) center center/48px 84px no-repeat;
  width: 50px;
  height: 100%;
  border: none;
  position: relative;
  left: 1155px;
  margin-top: -14px;
  z-index: 511;
  text-indent: -30000px;
  cursor: pointer;
}

#lightbox__prev {
  right: auto;
  left: -5px;
  transform: rotate(180deg);
  text-indent: -30000px;
}

#lightbox__close {
  width: 50px;
  height: 50px;
  background: url(closelght.svg) center center/100% 100% no-repeat;
  border: none;
  position: relative;
  text-indent: -30000px;
  bottom: 464px;
  left: 1200px;
  cursor: pointer;
  z-index: 515;
}

#lightbox {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#lightbox #container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox.active {
  display: flex;
}

#lightbox__container {
  display: flex;
  flex-direction: column;
}
#lightbox__container img, #lightbox__container video {
  width: 1050px;
  height: 900px;
  object-fit: cover;
  border-radius: 5px;
  order: -1;
}
#lightbox__container p {
  font-size: 24px;
  color: #901C1C;
  order: 2;
}

#like-prix {
  position: fixed;
  display: flex;
  bottom: -10px;
  right: 30px;
  background-color: #DB8876;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: normal;
}
#like-prix p {
  margin-right: 30px;
}

/*# sourceMappingURL=photographer.css.map */
