@charset "UTF-8";
@font-face {
  font-family: "DMSans";
  src: url("font/DMSans-Regular.ttf");
}
@font-face {
  font-family: "DMSans-Bold";
  src: url("font/DMSans-Bold.ttf");
}
#contact_modal {
  display: none;
  position: fixed;
  top: 10px;
  left: 25%;
  width: 1200px;
  justify-self: center;
}
#contact_modal h2 {
  font-size: 52px;
}

html {
  width: 100%;
  font-family: "DMSans";
  display: flex;
  justify-content: center;
}

body {
  width: 90%;
}

#header {
  margin-bottom: 50px;
  margin-top: 50px;
}
#header img {
  width: 200px;
  height: 50px;
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

#Photos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
#Photos .photo-container {
  width: 30%;
  cursor: pointer;
}
#Photos .photo-container p {
  color: #911C1C;
  font-size: 24px;
}
#Photos .photo-container p i {
  color: #911C1C;
}
#Photos img, #Photos video {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.photo-info {
  display: flex;
  justify-content: space-between;
}
.photo-info div {
  display: flex;
}
.photo-info div p {
  padding-left: 10px;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
.photograph-header img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  -moz-border-radius: 400px;
  -webkit-border-radius: 400px;
  border-radius: 400px;
}
.photograph-header #photograph-photo {
  order: 3;
}
.photograph-header #photograph-info {
  order: -1;
  margin-left: -4%;
}
.photograph-header #photograph-info h1 {
  font-size: 64px;
  color: #D3573C;
}
.photograph-header #photograph-info h2 {
  font-size: 24px;
  color: #901C1C;
}
.photograph-header #photograph-info p {
  font-size: 18px;
  color: #525252;
}

#contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  z-index: 10;
}
.modal header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal header h2 {
  width: 70%;
  text-align: justify;
  font-size: 55px;
  font-weight: normal;
  align-self: flex-start;
  margin-top: 0;
}
.modal header img {
  align-self: flex-start;
}
.modal p {
  color: #312E2E;
  font-size: 24px;
}

.modal header img, .btn-sumbit {
  cursor: pointer;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

#modal-input {
  width: 100%;
  margin-bottom: 26px;
  margin-top: -30px;
}
#modal-input input {
  font-size: 40px;
  padding-left: 10px;
  overflow-wrap: break-word;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#btn-submit {
  width: 30%;
  height: 68px;
  border: none;
  border-radius: 5px;
  align-self: flex-start;
  background-color: #901C1C;
  color: #FFFFFF;
  font-size: 18px;
}

#message {
  display: flex;
  align-items: flex-start;
  resize: none;
}

#lightbox__next, #lightbox__prev {
  background: url(icon/arrow.svg) center center/48px 84px no-repeat;
  width: 50px;
  height: 100%;
  border: none;
  position: relative;
  left: 930px;
  margin-top: -14px;
  z-index: 511;
  text-indent: -30000px;
  cursor: pointer;
}

#lightbox__prev {
  right: auto;
  left: -10px;
  transform: rotate(180deg);
  text-indent: -30000px;
}

#lightbox__close {
  width: 50px;
  height: 50px;
  background: url(icon/closelght.svg) center center/40px 40px no-repeat;
  border: none;
  position: relative;
  text-indent: -30000px;
  bottom: 365px;
  left: 975px;
  cursor: pointer;
  z-index: 515;
}

#lightbox {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#lightbox #container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
}

#lightbox.active {
  display: flex;
}

#lightbox__container {
  display: flex;
  flex-direction: column;
}
#lightbox__container img, #lightbox__container video {
  width: 815px;
  height: 700px;
  object-fit: cover;
  border-radius: 5px;
  order: -1;
}
#lightbox__container p {
  font-size: 24px;
  color: #901C1C;
  order: 2;
}

#like-prix {
  position: fixed;
  display: flex;
  bottom: -10px;
  right: 30px;
  background-color: #DB8876;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-family: "DMSans-Bold";
}
#like-prix p {
  margin-right: 30px;
  margin-left: 30px;
}

.custom-select {
  margin-bottom: 50px;
}
.custom-select li {
  list-style-type: none;
}

.select {
  width: 170px;
  height: 73px;
  cursor: pointer;
  background-color: #911C1C;
  border-radius: 5px;
  position: relative;
}
.select_expand {
  width: 0;
  height: 69px;
  position: absolute;
  top: 0;
  right: 0;
}
.select_expand::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translate(-50%, -50%) rotate(90deg);
  color: #fff;
  font-size: 20px;
  pointer-events: none;
  z-index: 2;
  color: #fff;
  transition: all 250ms ease-in-out;
}
.select_expand:checked::after {
  transform: translate(-50%, -50%) rotate(90deg) scaleX(-1);
}
.select_expandLabel {
  display: block;
  width: 100%;
  height: 69px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.select_close {
  display: none;
}
.select_closeLabel {
  width: 170px;
  height: 69px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.select_items {
  width: 210px;
  height: 69px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  padding-top: 69px;
}
.select_input {
  display: none;
}
.select_label {
  display: block;
  height: 0;
  font-size: 1.2rem;
  line-height: 69px;
  overflow: hidden;
  color: #fff;
  background-color: #fff;
  cursor: pointer;
  padding-left: 20px;
}
.select_label-placeholder {
  height: 69px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}
.select_expand:checked + .select_closeLabel {
  display: block;
}
.select_expand:checked + .select_closeLabel + .select_options {
  background: #911C1C;
  border-radius: 0 0 5px 5px;
  padding: 0;
}
.select_expand:checked + .select_closeLabel + .select_options .select_label {
  height: 69px;
  background: transparent;
}
.select_expand:checked + .select_closeLabel + .select_options .select_label:hover {
  background-color: #DB8876;
  color: #000;
}
.select_expand:checked + .select_closeLabel + .select_options + .select_expandLabel {
  display: none;
}
.select_expand:checked + .select_closeLabel + .select_options + .select_option {
  border-radius: 5px;
}
.select_expand:checked + .select_closeLabel + .select_options .select_option:nth-child(2) .select_label:hover {
  border-radius: 0 0 5px 5px;
}
.select_input:checked + .select_label {
  height: 72px;
  margin-top: -69px;
  background-color: #911C1C;
  border-radius: 5px;
  padding-left: 18px;
  margin-left: -40px;
}
.select .border-top {
  display: block;
  height: 100%;
  width: 85%;
  border-top: 1px solid #fff;
}

.select_input:checked + .select_label .border-top {
  border-top: none;
}

/*# sourceMappingURL=photographer.css.map */
